# Rename this to .deploy.env and use appropriate configurations before running the deploy.

ENV=local # Either local or development or production.
PORT=8888 # Port that the app runs on. If not specified, it is 8888.

VERCEL_TOKEN=token # Token to access Vercel APIs.
VERCEL_TEAM_ID=teamID # The team in which the apps are going to be deployed to.

# Postgres database configuration (there are two ways to configure based on their environment).

# Provide these when in development or production & deployed to GCP Cloud Run.
DB_USER=my-db-user
DB_PASS=my-db-password
INSTANCE_CONNECTION_NAME=project:region:instance # This is only useful within GCP Cloud Run.
DB_NAME=my-database

# The following is useful only when in local env.
POSTGRES_URL='host=localhost port=5432 user=postgres dbname=graftini password=password sslmode=disable'

# The path of the next app that will form the base for the generated app.
TEMPLATE_NEXT_APP_PATH='./internal/deploy/nextapp'

# GitHub NPM Repository Token
GITHUB_NPM_REPO_TOKEN=github_token # Add an initial space if it starts with @. Vercel takes @ to mean a secret which it is not.
