# Rename this to .deploy.env and use appropriate configurations before running the deploy.

ENV=local # Either local or development or production.
PORT=8888 # Port that the app runs on. If not specified, it is 8888.

VERCEL_TOKEN=token # Token to access Vercel APIs.
VERCEL_TEAM_ID=teamID # The team in which the apps are going to be deployed to.
